<section>
    <h1>Welcome to CSE Motors!</h1>
    <div  id="welcome">
        <img src="/images/vehicles/delorean-tn.jpg">
    </div>
</section>
<section>
    <div  id="reviews">

    </div>
    <h2>DMC Delorean Reviews</h2>
</section>
<section>
    <h2>Delorean Upgrades</h2>
    <div id="upgrades">

    </div>
</section>
