/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}


header {
  height: 10vh;
}

.siteName {
  position: fixed;
  top: 5vw;
  font-size: 9vw;
}


#tools {
  float: right;
  font-size: 4vw;
}
nav {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: black;
}

ul {
  font-size: 4vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


nav li {
  display: block;
  color: white;
  padding: 4vw;
  text-decoration: none;
  float: left;
}



h1 {
  font-size: 6vw;
}

h2 {
  font-size: 5vw;
}

footer {
  font-size: 3vw;
}

#welcome img{
  width: 75vw;
}
@media only screen and (min-width: 400px) {

  html { 
    background: url("/images/site/checkerboard.jpg") no-repeat center center fixed; 
    background-size: cover;
  }
  body {
    background-color: whitesmoke;
    border-radius: 3vw;
    border: 3vw;
    border-color: lightblue;
  }
}
