:root {
  --myblue: #0077b6;
}

body {
  font-size: 6vw;
}

header {
  height: 2em;
}

.siteName {
  position: absolute;
  top: 4vw;
  font-size: 1em;
}

#tools {
  position: absolute;
  top: 3vw;
  right: 3vw;
  font-size: max(0.4em, 14px);
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: black;
}

nav ul {
  font-size: 4.5vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  display: block;
  padding: 1.8vw;
  text-decoration: none;
  float: left;
}

nav li a:link {
  color: white;
}



nav li a:visited {
  color: var(--myblue);
}

h1 {
  font-size: 1em;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  font-size: 8vw;
}

footer {
  font-size: 0.5em;
  display: flex;
  justify-content: space-between;
}

.subsection h1 {
  margin: 0 0.5em;
}

.subsection h2 {
  margin-bottom: 0;
}

#welcome {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  border: 0;
  padding: 0;
}


#welcome h1{
  grid-row: 1/2;
  grid-column: 1/4;
}

#messages {
  grid-row: 2/3;
  grid-column: 1/4;
  color: red;
  font-size: min(0.5em,30px);
}

#car-image{
  display: flex;
  grid-row: 3/6;
  grid-column: 1/4;
  align-items: center;
  justify-content: center;
}

#car-image img{
  width: 80vw;
  height: auto;
}

#car-details {
  display: block;
  color: var(--myblue);
  padding-left: 3vw;
  grid-row: 4/5;
  grid-column: 1/2;
  background: rgba(255,255,255, 0.75);
}

#own-img {
  width: 75%;
  height: auto;
  border-radius: 1vw;
}

#car-details h2 {
  margin-top: 0;
}

#car-details p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.5em;
}

#reviews {
  padding-left: 5vw;
  margin: 0;
  font-size: 0.5em;
}

#reviews li {
  padding: 3vw;
}

#upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto min-content;
  justify-items: center;
}

.upgrade {
  width: 100%;
  height: auto;
  padding: 2vw;
}

.upgrade-img {
  display: flex;
  background-color: var(--myblue);
  border: darkblue;
  border-style: solid;
  border-width: 2px;
  margin: 2vw;
  justify-content: center;
}

.upgrade-img img {
  height: 20vw;
  width: auto;
  margin: 2vw;
}

.upgrade a {
  display: block;
  text-align: center;
  font-size: 0.6em;
}

/* ******************************** */
/* Classification view of inventory */
/* ******************************** */

#inv-display {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  font-size: 0.5em;
  padding: 0;
}

#inv-display li {
  display: flex;
  flex-flow: column;
  width: 250px;
  border: 1px solid var(--myblue);
  border-radius: 1em;
  margin: 0.5em;
}

#inv-display li a {
  margin: 5px;
}

#inv-display hr {
  margin-top: 0;
  margin-bottom: 3px;
}

#inv-display h2 {
  margin: 0;
  font-size: 1em;
}

#inv-display img {
  border-radius: 0.9em;
  height: 105px;
  margin-top: 5px;
}

.namePrice {
  position: relative;
  height: 100%;
}

article h3 {
  margin-bottom: 0px;
}

/* ******************** */
/* Details view styling */
/* ******************** */

#details {
  font-size: 0.5em;
}
#details img {
  width: 100%;
}

#details h2 {
  font-size: 1.5em;
  margin: 0.1em;
  text-align: center;
}

article, #specs {
  margin: 5px;
}

article {
  font-size: max(0.5em, 14px);
  margin-bottom: 10px;
}

#specs {
  font-size: max(0.7em, 16px);
}

#price {
  font-weight: bold;
}


form * {
  display: block;
}


/* ******************** */
/* input validation  */
/* ******************** */

input:required:invalid, input:focus:invalid, textarea:required:invalid, select:required:invalid{
  background-color: salmon;
 }

 input:required:valid, textarea:required:valid, select:required:valid{
  background-color: lightgreen;
 }

 form input, form textarea, form select {
  width: 80vw;
  font-size: 0.8em;
}

#pw-verbiage p {
  font-size: 5vw;
  margin-top: 1vw;
}
button {
  font-size: 8vw;
  border: 2px solid white;
  border-radius: 5px;
  padding: 4px;
  margin-top: 1em;
  text-align: center;
  color: white;
  background-color: var(--myblue);

}
.outerbox {
  background: var(--myblue);
  border-radius: 5px;
  padding: 5px;
  font-size: 8vw;
  color: white;
}

.outerbox a:visited {
  color: white;
}

.innerbox {
  margin: 8px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  padding: 3px;
}

.italics {
  font-style: italic;
  font-size: 0.8em;
}

/* ******************** */
/* Management view styling */
/* ******************** */
#management p {
  margin: 1vw;
  font-size: 5vw;
}
#management select {
  font-size: 5vw;
}
#management h2 {
  margin-bottom: 1vw;
}

#management table {
  margin: 1vw;
  font-size: 5vw;
}

#management th {
  border-style: solid;
  text-align: left;
}

#management a {
  margin: 2vw;
}

/* ******************** */
/* Sale view styling */
/* ******************** */
#sale-block2 form {
  font-size: 6vw;
}

#sale-block2 form input {
  height: 4vw;
  width: 4vw;
  display: inline;
}

#sale-block2 form label {
  display: inline;
}

#sale-block2 form button {
  display: inline;
}

#sale-block2 .italics {
  margin-top: 0;
}

#sale-block2 form #phone {
  width: 40vw;
  height: 6vw;
}

#sale-block2 form button{
  justify-content: center;
}
#saleButton {
  display: flex;
  width: 100%;
  justify-content: center;
}

#saleButton button {
  margin: 0;
}
/* ******************** */
/* Error message styling */
/* ******************** */
ul.notice {
  font-size: 8vw;
  color: red;
  padding: 10px;
  margin: 10px;
}

.errorMsg {
  font-size: 8vw;
  color: red;
  text-align: center;
}

/* ***************************************************** */
/* Media transition at 400px to display on wider screens */
/* ***************************************************** */

@media only screen and (min-width: 400px) {

  html { 
    background: url("/images/site/small_check.png") no-repeat center center fixed; 
    background-size: cover;
  }

  body {
    background-color: whitesmoke;
    border-radius: 3vw;
    border: 6vw;
    border-color: lightblue;
    margin: 5vw;
  }

  .siteName {
    top: 8vw;
  }

  ul.notice {
    padding: 1em;
  }

  #tools{
    top: 6vw;
    right: 7vw;
    font-size: min(1em, 20px);
  }

  nav {
    font-size: min(1em, 45px);
  }


}

/* ************************************************ */
/* Media transition at 570px for multi-column grids */
/* ************************************************ */

@media only screen and (min-width: 570px) {

/* ******************************** */
/* Classification view of inventory */
/* ******************************** */


  #inv-display {
    font-size: min(0.5em, 23px);
  }

  #inv-display li {
    height: 220px;
  }

  #inv-display h2 {
    margin: 0;
  }

  #inv-display span {
    position: absolute;
    bottom: 0;
    left: 80px;
  }
  footer {
    font-size: 16px;
    margin: 0 15px;
  }


/* ******************** */
/* Details view styling */
/* ******************** */

  #details {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border: 0;
    padding: 0;
    font-size: min(0.5em, 30px);
  }

  #image-div {
    grid-column: 1/2;
    grid-row: 1/5;
  }

  #details h2 {
    grid-column: 1/3;
    grid-row: 5/6;

  }
  #details article {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  
  article, #specs {
    grid-column: 2/3;
    grid-row: 3/5;
  }
}
